.btn-success {
    transition: 0.4s;
}

.hide-me {
    opacity: 0;
    visibility: hidden;
}

.list-group-item {


    &:nth-child(even) {
        background-color: #c3c3c3;

        &:hover {
            border: 1px solid #c3c3c3;
        }
    }
}

.sa-head {
    text-align: center;
    margin: 10px 0;
}